<a href="https://colab.research.google.com/github/marantmir/data_science/blob/main/Manipula%C3%A7%C3%A3o_de_Dados_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulação de Dados com Python

## Obtendo e entendo o dataset

Obtendo os Dados para o Google Colab

In [2]:
# Importando a Biblioteca
from google.colab import files

# Realizando o upload da base de dados
uploaded = files.upload()

Saving vgsales.csv to vgsales.csv

Importando algumas Bibliotecas como Numpy para criação de array, Pandas para manipulação de dataframes e o Matplotlib para plotar os gráficos.

In [3]:
# Importando as principais bibliotecas para análise de dados (Numpy e Pandas) e de visualização de gráficos (Matplotlib)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Atribuindo os dados do dataset na variável games
games = pd.read_csv("vgsales.csv")

In [5]:
# Identificando as colunas e visualizando as 5 primeiras linhas do dataset
games.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [6]:
# Verificando as informações e estrutura do dataset
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

## Inciando o processo de Análise

In [8]:
# Analisando quais plataformas(consoles) de jogos possuimos no dataset

consoles = games[["Platform"]].drop_duplicates().sort_values("Platform").set_index("Platform")
print(consoles)

Empty DataFrame
Columns: []
Index: [2600, 3DO, 3DS, DC, DS, GB, GBA, GC, GEN, GG, N64, NES, NG, PC, PCFX, PS, PS2, PS3, PS4, PSP, PSV, SAT, SCD, SNES, TG16, WS, Wii, WiiU, X360, XB, XOne]

In [9]:
# Identificando quantos jogos possuem
games.Platform.value_counts()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
WS         6
SCD        6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64

In [28]:
# Renomeando as colunas para melhorar a visualização
games.Platform.value_counts().reset_index().rename(columns ={'index':'Platform', 'Platform':'Total'})

   Platform  Total
0        DS   2163
1       PS2   2161
2       PS3   1329
3       Wii   1325
4      X360   1265
5       PSP   1213
6        PS   1196
7        PC    960
8        XB    824
9       GBA    822
10       GC    556
11      3DS    509
12      PSV    413
13      PS4    336
14      N64    319
15     SNES    239
16     XOne    213
17      SAT    173
18     WiiU    143
19     2600    133
20      NES     98
21       GB     98
22       DC     52
23      GEN     27
24       NG     12
25       WS      6
26      SCD      6
27      3DO      3
28     TG16      2
29     PCFX      1
30       GG      1

In [29]:
# Analisar total de vendas por plataforma
games.groupby(["Platform"]).Global_Sales.sum().sort_values()

Platform
PCFX       0.03
GG         0.04
3DO        0.10
TG16       0.16
WS         1.42
NG         1.44
SCD        1.87
DC        15.97
GEN       28.36
SAT       33.59
PSV       61.93
WiiU      81.86
2600      97.08
XOne     141.06
GC       199.36
SNES     200.05
N64      218.88
3DS      247.46
NES      251.07
GB       255.45
XB       258.26
PC       258.82
PS4      278.10
PSP      296.28
GBA      318.50
PS       730.66
DS       822.49
Wii      926.71
PS3      957.84
X360     979.96
PS2     1255.64
Name: Global_Sales, dtype: float64

In [33]:
# Verificar qual gênero de jogos possue maior valor
games.groupby("Genre").Global_Sales.sum().sort_values()

Genre
Strategy         175.12
Adventure        239.04
Puzzle           244.95
Simulation       392.20
Fighting         448.91
Racing           732.04
Misc             809.96
Platform         831.37
Role-Playing     927.37
Shooter         1037.37
Sports          1330.93
Action          1751.18
Name: Global_Sales, dtype: float64

In [38]:
# Apresentando o TOP 5 de games mais vendidos
games.groupby("Name").Global_Sales.sum().sort_values()[-5:]

Name
Mario Kart Wii        35.82
Tetris                35.84
Super Mario Bros.     45.31
Grand Theft Auto V    55.92
Wii Sports            82.74
Name: Global_Sales, dtype: float64